<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.demoweb.dto.MemberDto" alias="MemberDto" />
	</typeAliases>

	<mappers>
		<mapper resource="com/demoweb/mapper/MemberMapper.xml" />
	</mappers>

</configuration>