<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 패키지이름.클래스이름 ( 저장된 경로와 일치하도록 작성 ) -->
<mapper namespace="com.demoweb.mapper.BoardMapper">

	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO board (boardno, title, writer, content) 
		VALUES (BOARD_SEQUENCE.NEXTVAL, #{ title }, #{ writer }, #{ content })
	</insert>
	
</mapper>













