<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>
    Material Dashboard 2 by Creative Tim
  </title>
  <th:block th:replace="~{modules/common-css}"></th:block>
</head>

<body class="g-sidenav-show  bg-gray-200">
  
  <div th:replace="~{modules/side-nav}"></div>
  
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    
    <div th:replace="~{modules/top-nav}"></div>
    
    <div class="container-fluid py-4">
    
      <div th:replace="~{modules/footer}"></div>
    
    </div>
  </main>
  
  <th:block th:replace="~{modules/common-script}"></th:block>

</body>

</html>