<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.demoweb.dto.MemberDto" alias="MemberDto" />
		<typeAlias type="com.demoweb.dto.BoardDto" alias="BoardDto" />
		<typeAlias type="com.demoweb.dto.BoardCommentDto" alias="BoardCommentDto" />
		<typeAlias type="com.demoweb.dto.BoardAttachDto" alias="BoardAttachDto" />
		<typeAlias type="com.demoweb.dto.SearchOptionDto" alias="SearchOptionDto" />
	</typeAliases>

	<mappers>
		<mapper resource="com/demoweb/mapper/MemberMapper.xml" />
		<mapper resource="com/demoweb/mapper/BoardMapper.xml" />
	</mappers>

</configuration>